.i-fill-container {
  width: 100%; height: 100%;
}

@mixin i-background-app($bgiurl) {
  @extend .i-fill-container;
  background-image: url(#{$bgiurl});
  background-size: 100% 100%;
  position: fixed;
  top: auto;
  left: auto;
  z-index: -2;
}

@mixin func-shape-circle($diameter) {
  /// 圆形图标背景
  /// @param {Number} $diameter - 圆形直径
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
  @extend .i-row-vertical-center, .i-row-horizontal-center;
}


.i-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}

.i-row-vertical-center {
  @extend .i-row;
  align-items: center;
}

.i-row-horizontal-center {
  @extend .i-row;
  justify-content: center;
}

.i-row-horizontal-between {
  @extend .i-row;
  justify-content: space-between;
}

.i-row-horizontal-around {
  @extend .i-row;
  justify-content: space-around;
}

.i-col {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.i-col-vertical-center {
  @extend .i-col;
  justify-content: center;
}

.i-col-vertical-between {
  @extend .i-col;
  justify-content: space-between;
}

.i-col-horizontal-center {
  @extend .i-col;
  align-items: center;
}

.i-text-between {
  display: inline-block;
  text-align: justify;
  text-align-last: justify;
}

.i-text-omit-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
